[Unit]
Description=Wuwa Echo Frontend Build Service
After=network.target

[Service]
Type=oneshot
User=root
WorkingDirectory=/root/wuwa/echo/frontend
ExecStart=/root/wuwa/echo/deploy/scripts/publish-frontend.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
